<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos familiares</title>
</head>
<body>
    <h1>Lista de familiares:</h1>

    <p> Nombre: Lucia Muscetta | Edad: 46 | Fecha de nacimiento: 16/02/1976</p> 
    <p> Nombre: Iara Tocarczuk | Edad: 20 | Fecha de nacimiento: 17/09/2002</p>
    <p> Nombre: Ariel Collazo | Edad: 52 | Fecha de nacimiento: 25/05/1970</p>  
    <p> Nombre: Tatiana Mata | Edad: 24 | Fecha de nacimiento: 13/07/1998</p>  
    
</body>
</html>